/* color schmea 
#123067
#5da8b7
#b2b2b2
#d47c16
#7e4848
*/

.navbar,
footer {
  background-color:  	#767b8d;
}
.navigation .navbar-brand,
.navbar button,
.navigation .nav-link,
.navigation .dropdown-color, footer .text-color {
  color: #ececec;
  font-size: large;
}
.navigation .navbar-brand:hover,
.navigation .dropdown-color:hover,
.navigation .nav-link:hover,
footer .text-color:hover
{
  color:  	#cbcfd2;
}

.navigation .dropdown-menu {
  background:  	#767b8d;
  color: #ececec;
}
.body{
    background: #ececec;
}
html, body {
    height: 100%; 
  }
  
  body {
    position: relative;
  }
  
  footer {
    position: relative;
    bottom: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%; 
  }
  
  