/* color schmea 
#123067
#5da8b7
#b2b2b2
#d47c16
#7e4848
*/

.navbar {
  background-color: #123067;
}
.navigation .navbar-brand {
  color: #d47c16;
}
.navigation .navbar-brand:hover{
    color: whitesmoke;
}
.navbar button {
  color: #d47c16;
}
.navigation .nav-link {
  color: #d47c16;
  font-size: large;
}
.navigation .nav-link:hover {
  color: whitesmoke;
}
.navigation  .dropdown-color{
    color: #d47c16; 
}
.navigation  .dropdown-color:hover{
    color: whitesmoke;
}
.navigation .dropdown-menu{
    background: #7e4848;
    color: whitesmoke;
}
